<h2>Bulk Discounts</h2><br>

<ul>
  <% @bulk_discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <li><%= link_to "#{discount.percent}% off  #{discount.quantity} items" %></li>
    </section>
  <% end %>
</ul>
